html {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

#navLogo {
  position: relative;
  z-index: 2;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  /* background-color: #f2f2f2; */
  text-align: center;
  border-radius: 5px;
}

#navLogo:hover {
  box-shadow: none;
}

.home {
  background-image: url('../images/ridgeRidePano.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.video {
  background-image: url('../images/yosemite.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.about {
  background-image: url('../images/theoYetiBelay.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#aboutUs {
  background-color: rgb(78, 49, 49);
  border-radius: 10px;
  color: white;
  margin: auto;
  max-width: 33%;
  margin-left: 33%;
  padding: 10px;
  opacity: .75;
  font-size: 1.25rem;
}

.photo {
  background-image: url('../images/theoShark.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.contact {
  background-image: url('../images/theoLisa.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: black;
  opacity: .2;
}

body {
  margin: 0;
  padding: 0;
	font-family: 'Titillium Web', sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
}

code {
	font-family: 'Titillium Web', sans-serif;
}

h2 {
  font-size: 3.25rem;
  font-weight: 450;
}

.mainPage {
  float: left;
  background-color: transparent;
  display:flex;
  align-items: center;
  justify-content: center;
}

.mainRow {
  background-color: transparent;
  height: 100vh;
}

#mainPageVideo.hovering {
  background-image: url('../images/khumbu.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

#mainPageAbout.hovering {
  background-image: url('../images/chiwang.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

#mainPagePhoto.hovering {
  background-image: url('../images/Sunrise\ Service-4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.contactForm {
  background-image: url('../images/BNTedit.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 20%;
  max-width: 40%;
  margin: auto;
  margin-top: 100px;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Formik CSS */
.text-input {
  padding: .5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.text-input:focus {
    border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

.error .text-input {
  border-color: red;
}

.label {
  font-weight: bold;
  display: block;
  margin-bottom: .5rem;
}

.error .label {
  color: red;
}

.input-feedback {
  color: #999;
  margin-top: .25rem;
}

.error .input-feedback {
  color: red;
}

.animated {
  animation-duration: .3s;
  animation-fill-mode: both;
}

.input-group {
  margin-bottom: 1rem;
}

button {
  max-width: 150px;
  margin: 20px 0;
  padding: 12px 20px;
  border-style: none;
  border-radius: 5px;
  background-color: #08c;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

button:disabled {
  opacity: .5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: .5rem;
}

button.outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
}



.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation-name: shake;
}